body{
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif;
    color: black;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
a{
    text-decoration: none;
    color: black;
}
.place{
    font-weight: 500;
    font-size: 20px;
}
.offer-title{
    padding-bottom: 12px;
    font-weight: 800;
    font-size: 45px;
    width: 560px;
}
.btn{
    background: #39B8FF;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 25px;
    border-radius: 3px;
    text-align: center;
}
.btn:hover{
    background: #69b6e2;
}
.header-content{
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
}
.img{
    max-width: 530px;
    margin-left: 70px;
}
@media (max-width: 768px){
    .container{
        width: auto;
        margin: 0 auto;
    }
    .header-content{
        display: inline-block;
    }
    .img{
        width: 300px;
        padding-top: 100px;
        position: relative;
        right: 30px;
    }
    .offer-title{
        width: auto;
    }
    .container{
        padding: 2px;
    }
}